{% extends "layout.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    <div class="container">
        <h2><table><tr>
            <td><a class="nav-link" href="{% url 'login' %}">Log in</a></td>
            <td><span>又は</span></td>
            <td><a class="nav-link" href="{% url 'register' %}">Sign up</a></td>
            <td><span>をしてください</span></td></tr></table></h2>
    </div>
    {% else %}
    <main class="bg-main" style="background-image: url(assets/images/bg-back.png);">
        <section class="site-content pd-main" >
            <div class="container">
                <div class="row">
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-yellow">個人</span>
                            <div class="items_content">
                                <h3><a href="#">HONNE</a></h3>
                                {% if period_honne is not None %}
                                <span class="date">{{ period_honne.evaluation_end|date:"Y/m/d" }}</span>
                                {% endif %}
                                {% if period_honne is not None %}
                                <a class="btn-custom btn-white" href="{% url 'honne_sheet' period_honne.id %}">CHECK</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-yellow">個人</span>
                            <div class="items_content">
                                <h3><a href="#">SELFCHECK</a></h3>
                                {% if period_selfcheck is not None %}
                                <span class="date">{{ period_selfcheck.evaluation_end|date:"Y/m/d" }}</span>
                                {% endif %}
                                {% if period_selfcheck is not None %}
                                <a class="btn-custom btn-white" href="{% url 'selfcheck_sheet' period_selfcheck.id %}">CHECK</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-yellow">個人</span>
                            <div class="items_content">
                                <h3><a href="#">WATASHEET</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="#">CHECK</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-yellow">個人</span>
                            <div class="items_content">
                                <h3><a href="#">BONKNOW</a></h3>
                                {% if period_bonknow is not None %}
                                <span class="date">{{ period_bonknow.evaluation_end|date:"Y/m/d" }}</span>
                                {% endif %}
                                {% if period_bonknow is not None %}
                                <a class="btn-custom btn-white" href="{% url 'bonknow_sheet' period_bonknow.id %}">CHECK</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-yellow">個人</span>
                            <div class="items_content">
                                <h3><a href="#">MANDARA</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="#">CHECK</a>
                            </div>
                        </div>
                    </div>

                    {% if request.user.role_id != 99 %}
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-red">集計</span>
                            <div class="items_content">
                                <h3><a href="#">HONNE</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="{% url 'honne_total'%}">CHECK</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-red">集計</span>
                            <div class="items_content">
                                <h3><a href="#">SELFCHECK</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="{% url 'selfcheck_type' %}">CHECK</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-red">一覧</span>
                            <div class="items_content">
                                <h3><a href="#">WATASHEET</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="#">CHECK</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-red">一覧</span>
                            <div class="items_content">
                                <h3><a href="#">BONKNOW</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="{% url 'bonknow_think' %}">CHECK</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5-cols">
                        <div class="items">
                            <span class="btn-cus btn-red">一覧</span>
                            <div class="items_content">
                                <h3><a href="#">MANDARA</a></h3>
                                <span class="date">2023/3/7</span>
                                <a class="btn-custom btn-white" href="{% url 'mandara' %}">CHECK</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    {% endif %}
{% endblock %}