{% extends 'layout.html' %}

{% block header %}

{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
    var myChart;
    var myChart2;
    const circl = {{ circl_list| safe }};
    const square = {{ square_list| safe }};
    const traiangle = {{ traiangle_list| safe }};
</script>
<script src="{% static 'js/selfcheck-sheet.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/selfchecksheet.css' %}">
{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <div class="text-danger text-center"><label>
            <h5>{{ message }}</h5>
        </label></div>
    <form class="" action="{% url 'selfcheck_sheet' evaluation_unit %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 左側 -->
        <section class="site-chart pd-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-content">
                            <table class="table" id="selftchek_table">
                                <tr>
                                    <th colspan="4">A：良く出来ている　B:普通にできる　C:出来ない</th>
                                </tr>
                                {% for record in questions %}
                                {% for q in record.q_list %}
                                <tr>
                                    <td style="width: 8%" class="stt text-center"></td>
                                    {% if forloop.counter == 1 %}
                                    <td style="white-space: nowrap;">{{ record.label }}</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td>{{ q.question }}</td>

                                    <td style="width: 15%;">
                                        <select id=result-{{q.id}} name=selfcheck_answer_{{q.id}}
                                            onchange='func_count(this, {{ q_list|safe }});' {{ disabled }}>
                                            <option value="">-</option>
                                            {% for choice in answer_choices %}
                                            <option value="{{ choice.0 }}" {% if
                                                q.answer_value|floatformat:"0"==choice.0|floatformat:"0" %}selected{%
                                                endif %}>{{ choice.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" id="index-{{q.id}}" value="{{q.category_id}}">
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-chart">
                            <div class="title title-tg mb-3">
                                <h2 class="heading">SELF CHECK SHEET</h2>
                            </div>
                            <div class="chart">
                                <canvas id="mycanvas"></canvas>
                            </div>
                            <div class="chart">
                                <canvas id="mycanvas2"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-chart">
                            <div class="checkbox">
                                {{ form.flg_finished }}{{ form.flg_finished.label }}
                            </div>

                            <div class="flex-chart">
                                {% if disabled  %}
                                    <div class="btn-custom-button">一時保存</div>
                                    <div class="btn-custom-button">保存</div>
                                {% else %}
                                    <button class="btn-custom-button" type="submit">一時保存</button>
                                    <button class="btn-custom-button" type="submit">保存</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</main>

<script>window.onload = drwa_chart({{ index_list| safe }})</script>
<script>window.onload = drwa_chart2({{ type_list| safe }})</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
     $(document).ready(function() {
            $(".stt").each(function(index, item) {
                $(item).text(index + 1); // Cập nhật nội dung của thẻ td
            });
        });
</script>
{% endblock %}