{% extends 'layout.html' %}

{% block header %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/resultstyle.css' %}">

{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <section class="site-feedback pd-main overflow-auto">
        <div class="container-fluid">
            <div class="row">
                {% include "component/selfcheck_nav.html" %}
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab1">
                            <div class="feedback-content">
                                <div class="title">
                                    <h2>SELF CHECK TABLE</h2>
                                    <p>タイプ別分析</p>
                                </div>
                                <div class="filter">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.evaluation_unit }}
                                        {{ form.user_id }}
                                        <button type="submit" name="submit">表示</button>
                                    </form>
                                </div>
                                <div class="content-chart content-chart-2">
                                    <table class="table table2" id="td1" style="width:100%">
                                        <tr>
                                            <th><div class="px-3"></div></th>
                                            <th><div>指</br>数</div></th>
                                            <th><div class="title-selfcheck-table-index">合</br>計</br>列</br>を</div></th>
                                            <th><div class="title-selfcheck-table-index">決<br/>断<br/>力</div></th>
                                            <th><div class="title-selfcheck-table-index">専<br/>門<br/>性</div></th>
                                            <th><div class="title-selfcheck-table-index">自<br/>己<br/>管<br/>理</div></th>
                                            <th><div class="title-selfcheck-table-index">広<br/>報<br/>力</div></th>
                                            <th><div class="title-selfcheck-table-index">連<br/>携<br/>力</div></th>
                                            <th><div class="title-selfcheck-table-index">人<br/>間<br/>関<br/>係</div></th>
                                            <th><div class="title-selfcheck-table-index">患<br/>者<br/>対<br/>応</div></th>
                                            <th><div class="title-selfcheck-table-index">チ<br/>ー<br/>ム<br/>ワ<br/>ー<br/>ク</div></th>
                                            <th><div class="title-selfcheck-table-index">総<br/>合<br/>管<br/>理</div></th>
                                            <th><div class="title-selfcheck-table-index">理<br/>念<br/>浸<br/>透</div></th>
                                            <th><div class="title-selfcheck-table-index">自<br/>己<br/>啓<br/>発</div></th>
                                            <th><div class="title-selfcheck-table-index">思<br/>考</div></th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">名前</th>
                                            <th class="text-center">120満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                            <th class="text-center">10満点</th>
                                        </tr>
                                        <tbody>
                                            {% for record in orderby_records %}
                                              <tr>
                                                  <td>{{ forloop.counter }}</td>
                                                  <td class="text-nowrap text-center">
                                                        {% if user.company.selfcheck_visble_flag == True %}
                                                            {{ record.user.full_name }}
                                                        {% endif %}
                                                  </td>
                                                  <td class="text-center">{{ record.sum_selfcheck_index }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index1 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index2 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index3 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index4 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index5 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index6 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index7 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index8 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index9 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index10 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index11 }}</td>
                                                  <td class="text-center">{{ record.selfcheck_index12 }}</td>
                                              </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}