
.bi-circle-fill {

    fill: #727171;
}

.number ul li {

    color: #727171;
    background: #DBDCDC;
}

.hidden {

    display: none;
}

.width-年 {

    width: 15px !important;
    min-width: unset !important;
    color: #727171;
}
.item-content {

    border-bottom: 7px solid #FFFFFF;
}

.input-team {

    width: 30px;
    min-width: unset !important;
    padding-left: unset !important;

}

.content-triangle {

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}


.width-80 {

    width: 95px;
    letter-spacing: 3px;
}

h3 {

    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #727171;
    font-family: var(--font-text);
    letter-spacing: 2px;
}

h4 {

    font-size: 24pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #727171;
    font-family: var(--font-text);
    letter-spacing: 2px;
}


.items {

    margin-bottom: 0px;
}

.right-2 {

    right: 2em;
}


.flex-fill {

    flex: 1;
}

.white-space {

    white-space: normal;
}

.break-word {

    word-wrap: break-word;
}

.content-chart-2 table tr td label span {
    word-break: break-word;
}

/*@media (min-width: 900px) {
    .max-width {

        width: 110px;
    }
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type=number] {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.textarea-watasheet {

    resize: none;
    overflow: hidden;
    min-width: 90%;
    padding-left: 10px;
    margin-left: 10px;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.textarea-watasheet:focus {
    border: none; /* Màu border khi focus */
    outline: none; /* Bỏ viền xung quanh */
}

.min-h-30 {

    min-height: 30px;
}

.numerical {
    padding-top: 2px;
}

@media (min-width: 1200px) {

    .max-width {

        width: 135px;
    }
}

@media (min-width: 1100px) {

    .max-width {

        width: 112px;
    }
}

@media (min-width: 1300px) {

    .max-width {

        width: 150px;
    }
}

@media (min-width: 1390px) {

    .max-width {

        width: 150px;
    }
}

@media (min-width: 1430px) {

    .max-width {

        width: 150px;
    }
}

@media (min-width: 1600px) {

    .max-width {

        width: 200px;
    }
}

@media screen and (max-width: 1450px) {

    .width-年 {

        width: 27px !important;
    }

    .width-80 {
    
        width: 105px !important;
    }
      
    .content-box .items .title-box h3 {
        white-space: nowrap;
        font-size: 13pt;
    }
    
    .title-tab-watasheet {

        font-size: 12px !important;
    }
}
