{% extends 'layout.html' %}

{% block header %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/bonknow_think_and_respons.css' %}">
<link rel="stylesheet" href="{% static 'css/resultstyle.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

{% endblock %}

{% block title_header %}
<p class="pb-0 mb-0 title-header">{{ title_header }}</p>
{% endblock title_header %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <section class="site-feedback pd-main">
        <div class="container-fluid">
            <div class="row">
                {% include "component/bonknow_nav.html" %}
                <div class="col-md-10 border-left pl-2">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab1">
                            <div class="feedback-content">
                                <div class="title">
                                    <h2 class="text-dark"> DO YOU KNOW <span class="text-muted">&nbsp;RESPONS</span></h2>
                                </div>
                                <div class="filter">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        <div class="item-select d-flex align-items-center gap-2" style="display: flex;">
                                            {{ form.start }}
                                            <p class="to m-0 px-3">～</p>
                                            {{ form.end }}
                                            {% csrf_token %}
                                            <button class="mx-3" type="submit" name="submit">表示</button>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <canvas id="mycanvas"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% load static %}
<script>
    var time_list = {{ times|safe }};
    var logic_list = {{ logic|safe }};
    var sense_list = {{ sense|safe }};
</script>
<script src="{% static 'js/bonknow-respons.js' %}"></script>
{% endblock %}