{% extends "layout.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/mandara_sheet.css' %}">
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="container">
    <h2>
        <table>
            <tr>
                <td><a class="nav-link" href="{% url 'login' %}">Log in</a></td>
                <td><span>又は</span></td>
                <td><a class="nav-link" href="{% url 'register' %}">Sign up</a></td>
                <td><span>をしてください</span></td>
            </tr>
        </table>
    </h2>
</div>
{% else %}
<main class="bg-main">
    <section class="site-content pd-main">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-5-cols">
                    <div class="items">
                        <span class="btn-cus btn-yellow">個人</span>
                        <div class="items_content flex-fill justify-content-between">
                            <div class="w-100 wrapper-content-top">
                                <h3><a href="#">MANDARA</a></h3>
                            </div>
                            {% if mandara %}
                            <div class="w-100">
                                <div class="mb-2">
                                    <span class="date">実施期間</span>
                                </div>
                                <div class="mb-2">
                                    <p class="date date-bottom text-nowrap">{{ start|date:"Y/n/j" }} ~ {{ end|date:"Y/n/j" }}</p>
                                </div>
                                <a class="btn-custom btn-white" href="{% url 'mandara_reuse' %}">CHECK</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5-cols">
                    <div class="items">
                        <span class="btn-cus btn-yellow">個人</span>
                        <div class="items_content flex-fill justify-content-between">
                            <div class="w-100 wrapper-content-top">
                                <h3><a href="#">NEXT <br/> MANDARA</a></h3>
                            </div>
                            {% if mandara_periods %}
                            <div class="w-100">
                                <div class="mb-2">
                                    <span class="date">入力期間</span>
                                </div>
                                <div class="mb-2">
                                    <p class="date date-bottom text-nowrap">
                                        {% if mandara_periods.input_start_date %}
                                            {{ mandara_periods.input_start_date|date:"Y/n/j" }}
                                        {% endif %}
                                        {% if mandara_periods.input_start_date and mandara_periods.input_end_date  %}
                                        ~
                                        {% endif %}
                                        {% if mandara_periods.input_end_date %}
                                             {{ mandara_periods.input_end_date|date:"Y/n/j" }}
                                        {% endif %}
                                    </p>
                                </div>
                                
                                <a class="btn-custom btn-white text-white" href="{% url 'mandara_create' %}" style="background: #9e9e9e;">
                                    WAIT
                                </a>
                                <!-- <a class="btn-custom btn-white" href="{% url 'mandara_reuse' %}">
                                   CHECK
                                </a> -->
                            </div>
                            {% endif %}
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5-cols">
                    <div class="items">
                        <span class="btn-cus btn-yellow" style="background: #e78882 !important;">検証</span>
                        <div class="items_content flex-fill justify-content-between">
                            <div class="w-100 wrapper-content-top">
                                <h3><a href="#">COMPLETION <br/> MANDARA</a></h3>
                            </div>
                            <div class="w-100">
                                <div class="mb-2">
                                    <span class="date">達成履歴</span>
                                </div>
                                <a class="btn-custom btn-white" href="{% url 'mandara_completion' %}">CHECK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</main>
{% endif %}
{% endblock %}