{% load static %}

{% block header %}
<!-- chartの呼び出し -->
<!-- Required meta tags -->
<meta charset="UTF-8">
<title>HIBI_LABOインナーマーケティング</title>
<!-- ファビコン -->
<link rel=”icon” href="{% static 'assets/favicon1.png' %}">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!-- 互換表示の解除 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="HandheldFriendly" content="True" />

<!-- chromeでキャッシュが効いていると最新のcss等が反映されないその場合には、ctrl+shift+R　-->

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom-style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<link rel="stylesheet" href="{% static '/css/mandara_print.css' %}">


{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <section class="site-feedback pd-main">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="wrapper-body">

                        <div class="body-bottom">
                            <div class="wrapper-body-left">
                                <div>
                                    <div class="body-top">
                                        <div class="body-top-left">
                                            <h2 class="text-title">MANDARA CHART</h2>
                                            <span class="content-title">真ん中の1年後の目標に対する8つの目標からの72個の問い</span>
                                        </div>
                                    </div>
                                </div>
                                {% if mandara is not None %}
                                <div class="body-bottom-left" id="value-body-bottom-left">
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group1" id="value-table-1">
                                            <p>{{mandara.A1_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A1_result}}</span>
                                        </div>
                                        <div class="value-table group1" id="value-table-2">
                                            <p>{{mandara.A2_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A2_result}}</span>
                                        </div>
                                        <div class="value-table group1" id="value-table-3">
                                            <p>{{mandara.A3_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A3_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{mandara.A4_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.A_result}}</span>
                                            <p class="title-value-table-score">{{mandara.A_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas1" class="mycanvas" height="148" width="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{mandara.A5_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A5_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{mandara.A6_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A6_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{mandara.A7_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A7_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{mandara.A8_content}}</p>
                                            <span id="value-1" class="value-group-1">{{mandara.A8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group2" id="value-table-4">
                                            <p>{{mandara.B1_content}}</p>
                                            <span class="value-group-2">{{mandara.B1_result}}</span>
                                        </div>
                                        <div class="value-table group2" id="value-table-5">
                                            <p>{{mandara.B2_content}}</p>
                                            <span class="value-group-2">{{mandara.B2_result}}</span>
                                        </div>
                                        <div class="value-table group2" id="value-table-6">
                                            <p>{{mandara.B3_content}}</p>
                                            <span class="value-group-2">{{mandara.B3_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{mandara.B4_content}}</p>
                                            <span class="value-group-2">{{mandara.B4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.B_result}}</span>
                                            <p class="title-value-table-score">{{mandara.B_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas2" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{mandara.B5_content}}</p>
                                            <span class="value-group-2">{{mandara.B5_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{mandara.B6_content}}</p>
                                            <span class="value-group-2">{{mandara.B6_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{mandara.B7_content}}</p>
                                            <span class="value-group-2">{{mandara.B7_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{mandara.B8_content}}</p>
                                            <span class="value-group-2">{{mandara.B8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group3" id="value-table-7">
                                            <p>{{mandara.C1_content}}</p>
                                            <span class="value-group-3">{{mandara.C1_result}}</span>
                                        </div>
                                        <div class="value-table group3" id="value-table-8">
                                            <p>{{mandara.C2_content}}</p>
                                            <span class="value-group-3">{{mandara.C2_result}}</span>
                                        </div>
                                        <div class="value-table group3" id="value-table-9">
                                            <p>{{mandara.C3_content}}</p>
                                            <span class="value-group-3">{{mandara.C3_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{mandara.C4_content}}</p>
                                            <span class="value-group-3">{{mandara.C4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.C_result}}</span>
                                            <p class="title-value-table-score">{{mandara.C_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas3" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{mandara.C5_content}}</p>
                                            <span class="value-group-3">{{mandara.C5_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{mandara.C6_content}}</p>
                                            <span class="value-group-3">{{mandara.C6_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{mandara.C7_content}}</p>
                                            <span class="value-group-3">{{mandara.C7_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{mandara.C8_content}}</p>
                                            <span class="value-group-3">{{mandara.C8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group4">
                                            <p>{{mandara.H1_content}}</p>
                                            <span class="value-group-4">{{mandara.H1_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H2_content}}</p>
                                            <span class="value-group-4">{{mandara.H2_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H3_content}}</p>
                                            <span class="value-group-4">{{mandara.H3_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H4_content}}</p>
                                            <span class="value-group-4">{{mandara.H4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.H_result}}</span>
                                            <p class="title-value-table-score">{{mandara.H_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas4" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H5_content}}</p>
                                            <span class="value-group-4">{{mandara.H5_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H6_content}}</p>
                                            <span class="value-group-4">{{mandara.H6_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H7_content}}</p>
                                            <span class="value-group-4">{{mandara.H7_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{mandara.H8_content}}</p>
                                            <span class="value-group-4">{{mandara.H8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.A_keyword}}</p>
                                            <span class="value-score">{{mandara.A_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.B_keyword}}</p>
                                            <span class="value-score">{{mandara.B_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.C_keyword}}</p>
                                            <span class="value-score">{{mandara.C_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.H_keyword}}</p>
                                            <span class="value-score">{{mandara.H_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-MAIN">
                                            <p class="title-main-score">1年後の目標</p>
                                            <span class="value-score">188</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.D_keyword}}</p>
                                            <span class="value-score">{{mandara.D_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.G_keyword}}</p>
                                            <span class="value-score">{{mandara.G_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.F_keyword}}</p>
                                            <span class="value-score">{{mandara.F_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <p class="title-main-score">{{mandara.E_keyword}}</p>
                                            <span class="value-score">{{mandara.E_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group5">
                                            <p>{{mandara.D1_content}}</p>
                                            <span class="value-group-5">{{mandara.D1_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D2_content}}</p>
                                            <span class="value-group-5">{{mandara.D2_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D3_content}}</p>
                                            <span class="value-group-5">{{mandara.D3_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D4_content}}</p>
                                            <span class="value-group-5">{{mandara.D4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.D_result}}</span>
                                            <p class="title-value-table-score">{{mandara.D_keyword}}</p>
                                            <div class="wrapper-canvas ">
                                                <canvas id="mycanvas5" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>

                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D5_content}}</p>
                                            <span class="value-group-5">{{mandara.D5_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D6_content}}</p>
                                            <span class="value-group-5">{{mandara.D6_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D7_content}}</p>
                                            <span class="value-group-5">{{mandara.D7_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{mandara.D8_content}}</p>
                                            <span class="value-group-5">{{mandara.D8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group6">
                                            <p>{{mandara.G1_content}}</p>
                                            <span class="value-group-6">{{mandara.G1_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G2_content}}</p>
                                            <span class="value-group-6">{{mandara.G2_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G3_content}}</p>
                                            <span class="value-group-6">{{mandara.G3_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G4_content}}</p>
                                            <span class="value-group-6">{{mandara.G4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.G_result}}</span>
                                            <p class="title-value-table-score">{{mandara.G_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas6" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G5_content}}</p>
                                            <span class="value-group-6">{{mandara.G5_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G6_content}}</p>
                                            <span class="value-group-6">{{mandara.G6_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G7_content}}</p>
                                            <span class="value-group-6">{{mandara.G7_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{mandara.G8_content}}</p>
                                            <span class="value-group-6">{{mandara.G8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group7">
                                            <p>{{mandara.F1_content}}</p>
                                            <span class="value-group-7">{{mandara.F1_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F2_content}}</p>
                                            <span class="value-group-7">{{mandara.F2_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F3_content}}</p>
                                            <span class="value-group-7">{{mandara.F3_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F4_content}}</p>
                                            <span class="value-group-7">{{mandara.F4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.F_result}}</span>
                                            <p class="title-value-table-score">{{mandara.F_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas7" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F5_content}}</p>
                                            <span class="value-group-7">{{mandara.F5_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F6_content}}</p>
                                            <span class="value-group-7">{{mandara.F6_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F7_content}}</p>
                                            <span class="value-group-7">{{mandara.F7_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{mandara.F8_content}}</p>
                                            <span class="value-group-7">{{mandara.F8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group8">
                                            <p>{{mandara.E1_content}}</p>
                                            <span class="value-group-8">{{mandara.E1_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E2_content}}</p>
                                            <span class="value-group-8">{{mandara.E2_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E3_content}}</p>
                                            <span class="value-group-8">{{mandara.E3_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E4_content}}</p>
                                            <span class="value-group-8">{{mandara.E4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{mandara.E_result}}</span>
                                            <p class="title-value-table-score">{{mandara.E_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas8" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E5_content}}</p>
                                            <span class="value-group-8">{{mandara.E5_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E6_content}}</p>
                                            <span class="value-group-8">{{mandara.E6_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E7_content}}</p>
                                            <span class="value-group-8">{{mandara.E7_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{mandara.E8_content}}</p>
                                            <span class="value-group-8">{{mandara.E8_result}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <h2 class="text-center">404 NOT FOUND</h2>
                                {% endif %}
                               
                            </div>

                            {% if mandara is not None %}
   <div class="body-bottom-right">
                                <div class="wrapper-title-body-bottom-right">
                                    <h2 class="title-body-bottom-right">キーワードの課題解決</h2>
                                </div>
                                <div class="table-body-bottom-right">
                                    <div class="wrapper-item-table-body-bottom-right-tab-1">
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">A</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.A_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.A_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">B</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.B_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.B_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">C</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.C_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.C_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">D</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.D_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.D_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">E</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.E_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.E_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">F</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.F_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.F_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">G</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.G_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.G_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">H</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{mandara.H_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決
                                                    </p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{mandara.H_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var arrayChartGroupA = [{{ mandara.A2_result }}, {{ mandara.A3_result }}, {{ mandara.A5_result }}, {{ mandara.A8_result }}, {{ mandara.A7_result }}, {{ mandara.A6_result }}, {{ mandara.A4_result }}, {{mandara.A1_result}}];
    var arrayChartGroupB = [{{ mandara.B2_result }}, {{ mandara.B3_result }}, {{ mandara.B5_result }}, {{ mandara.B8_result }}, {{ mandara.B7_result }}, {{ mandara.B6_result }}, {{ mandara.B4_result }}, {{ mandara.B1_result }}];
    var arrayChartGroupC = [{{ mandara.C2_result }}, {{ mandara.C3_result }}, {{ mandara.C5_result }}, {{ mandara.C8_result }}, {{ mandara.C7_result }}, {{ mandara.C6_result }}, {{ mandara.C4_result }}, {{ mandara.C1_result }}];
    var arrayChartGroupH = [{{ mandara.H2_result }}, {{ mandara.H3_result }}, {{ mandara.H5_result }}, {{ mandara.H8_result }}, {{ mandara.H7_result }}, {{ mandara.H6_result }}, {{ mandara.H4_result }}, {{ mandara.H1_result }}];
    var arrayChartGroupD = [{{ mandara.D2_result }}, {{ mandara.D3_result }}, {{ mandara.D5_result }}, {{ mandara.D8_result }}, {{ mandara.D7_result }}, {{ mandara.D6_result }}, {{ mandara.D4_result }}, {{ mandara.D1_result }}];
    var arrayChartGroupG = [{{ mandara.G2_result }}, {{ mandara.G3_result }}, {{ mandara.G5_result }}, {{ mandara.G8_result }}, {{ mandara.G7_result }}, {{ mandara.G6_result }}, {{ mandara.G4_result }}, {{ mandara.G1_result }}];
    var arrayChartGroupF = [{{ mandara.F2_result }}, {{ mandara.F3_result }}, {{ mandara.F5_result }}, {{ mandara.F8_result }}, {{ mandara.F7_result }}, {{ mandara.F6_result }}, {{ mandara.F4_result }}, {{ mandara.F1_result }}];
    var arrayChartGroupE = [{{ mandara.E2_result }}, {{ mandara.E3_result }}, {{ mandara.E5_result }}, {{ mandara.E8_result }}, {{ mandara.E7_result }}, {{ mandara.E6_result }}, {{ mandara.E4_result }}, {{ mandara.E1_result }}];
</script>
<script src="{% static 'js/mandara-chart.js' %}"></script>

{% endblock %}