{% extends 'layout.html' %}

{% block header %}
<!-- chartの呼び出し -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
{% load static %}
<link rel="stylesheet" href="{% static '/css/mandara_completion_detail.css' %}">


{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <section class="site-feedback pd-main">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="wrapper-body">
                        <div class="body-bottom">
                            <div class="wrapper-body-left">
                                <div>
                                    <div class="body-top">
                                        <div class="body-top-left w-100">
                                            <div class="d-flex mb-3">
                                                <div class="d-flex">
                                                    <h2 class="text-title mr-3">MANDARA CHART</h2>
                                                    <a href="{% url 'mandara_print' get_mandara_detail.id %}"
                                                        type="submit" class="button-print d-flex justify-content-center align-items-center">PRINT</a>
                                                </div>

                                            </div>
                                            <span class="content-title">真ん中の1年後の目標に対する8つの目標からの72個の問い</span>
                                        </div>
                                    </div>
                                </div>
                                {% if get_mandara_detail is not None %}
                                <div class="body-bottom-left" id="value-body-bottom-left">

                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group1" id="value-table-1">
                                            <p>{{get_mandara_detail.A1_content}}</p>
                                            <span id="value-1" class="value-group-1">
                                                {{get_mandara_detail.A1_result}}
                                            </span>
                                        </div>
                                        <div class="value-table group1" id="value-table-2">
                                            <p>{{get_mandara_detail.A2_content}}</p>
                                            <span id="value-2"
                                                class="value-group-1">{{get_mandara_detail.A2_result}}</span>
                                        </div>
                                        <div class="value-table group1" id="value-table-3">
                                            <p>{{get_mandara_detail.A3_content}}</p>
                                            <span class="value-group-1">{{get_mandara_detail.A3_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{get_mandara_detail.A4_content}}</p>
                                            <span class="value-group-1">{{get_mandara_detail.A4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">A</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.A_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.A_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas1" class="mycanvas" height="148" width="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{get_mandara_detail.A5_content}}</p>
                                            <span class="value-group-1">{{get_mandara_detail.A5_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{get_mandara_detail.A6_content}}</p>
                                            <span class="value-group-1">{{get_mandara_detail.A6_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{get_mandara_detail.A7_content}}</p>
                                            <span class="value-group-1">{{get_mandara_detail.A7_result}}</span>
                                        </div>
                                        <div class="value-table group1">
                                            <p>{{get_mandara_detail.A8_content}}</p>
                                            <span class="value-group-1">{{get_mandara_detail.A8_result}}</span>
                                            <!-- <svg id="triangle1" xmlns="http://www.w3.org/2000/svg" width="52"
                                                height="50" viewBox="0 0 52 50" fill="none">
                                                <path
                                                    d="M0.325983 0.574089L51.493 2.07355L14.181 49.8524L0.325983 0.574089Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group2" id="value-table-4">
                                            <p>{{get_mandara_detail.B1_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B1_result}}</span>
                                        </div>
                                        <div class="value-table group2" id="value-table-5">
                                            <p>{{get_mandara_detail.B2_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B2_result}}</span>
                                        </div>
                                        <div class="value-table group2" id="value-table-6">
                                            <p>{{get_mandara_detail.B3_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B3_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{get_mandara_detail.B4_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">B</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.B_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.B_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas2" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{get_mandara_detail.B5_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B5_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{get_mandara_detail.B6_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B6_result}}</span>
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{get_mandara_detail.B7_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B7_result}}</span>
                                            <!-- <svg id="triangle" xmlns="http://www.w3.org/2000/svg" width="62" height="42"
                                                viewBox="0 0 62 42" fill="none">
                                                <path d="M31 0L61.3109 41.25H0.689112L31 0Z" fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table group2">
                                            <p>{{get_mandara_detail.B8_content}}</p>
                                            <span class="value-group-2">{{get_mandara_detail.B8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group3" id="value-table-7">
                                            <p>{{get_mandara_detail.C1_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C1_result}}</span>
                                        </div>
                                        <div class="value-table group3" id="value-table-8">
                                            <p>{{get_mandara_detail.C2_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C2_result}}</span>
                                        </div>
                                        <div class="value-table group3" id="value-table-9">
                                            <p>{{get_mandara_detail.C3_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C3_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{get_mandara_detail.C4_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">C</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.C_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.C_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas3" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{get_mandara_detail.C5_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C5_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{get_mandara_detail.C6_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C6_result}}</span>
                                            <!-- <svg id="triangle3" xmlns="http://www.w3.org/2000/svg" width="52"
                                                height="52" viewBox="0 0 52 52" fill="none">
                                                <path
                                                    d="M51.0836 0.699342L44.2828 51.4345L0.63365 9.36608L51.0836 0.699342Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{get_mandara_detail.C7_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C7_result}}</span>
                                        </div>
                                        <div class="value-table group3">
                                            <p>{{get_mandara_detail.C8_content}}</p>
                                            <span class="value-group-3">{{get_mandara_detail.C8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H1_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H1_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H2_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H2_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H3_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H3_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H4_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">H</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.H_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.H_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas4" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H5_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H5_result}}</span>
                                            <!-- <svg id="triangle4" xmlns="http://www.w3.org/2000/svg" width="42"
                                                height="61" viewBox="0 0 42 61" fill="none">
                                                <path d="M0.500015 30.5L41.75 0.189098L41.75 60.8109L0.500015 30.5Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H6_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H6_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H7_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H7_result}}</span>
                                        </div>
                                        <div class="value-table group4">
                                            <p>{{get_mandara_detail.H8_content}}</p>
                                            <span class="value-group-4">{{get_mandara_detail.H8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">A</span>
                                            <p class="title-main-score">{{get_mandara_detail.A_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.A_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">B</span>
                                            <p class="title-main-score">{{get_mandara_detail.B_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.B_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">C</span>
                                            <p class="title-main-score">{{get_mandara_detail.C_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.C_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">H</span>
                                            <p class="title-main-score">{{get_mandara_detail.H_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.H_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-MAIN">
                                            <p class="title-main-score title-main-score-center">1年後の目標</p>
                                            <span class="value-score value-score-center"></span>
                                            <p class="title-main-score-bottom">1年後の目標</p>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">D</span>
                                            <p class="title-main-score">{{get_mandara_detail.D_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.D_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">G</span>
                                            <p class="title-main-score f1年後の目標">{{get_mandara_detail.G_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.G_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">F</span>
                                            <p class="title-main-score">{{get_mandara_detail.F_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.F_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE-text">
                                            <span class="text-table-score">E</span>
                                            <p class="title-main-score">{{get_mandara_detail.E_keyword}}</p>
                                            <span class="value-score">{{get_mandara_detail.E_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D1_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D1_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D2_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D2_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D3_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D3_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D4_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D4_result}}</span>
                                            <!-- <svg id="triangle5" xmlns="http://www.w3.org/2000/svg" width="42"
                                                height="61" viewBox="0 0 42 61" fill="none">
                                                <path d="M41.5 30.5L0.25001 60.8109L0.25001 0.189111L41.5 30.5Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">D</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.D_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.D_keyword}}
                                            </p>
                                            <div class="wrapper-canvas ">
                                                <canvas id="mycanvas5" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>

                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D5_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D5_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D6_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D6_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D7_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D7_result}}</span>
                                        </div>
                                        <div class="value-table group5">
                                            <p>{{get_mandara_detail.D8_content}}</p>
                                            <span class="value-group-5">{{get_mandara_detail.D8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G1_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G1_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G2_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G2_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G3_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G3_result}}</span>
                                            <!-- <svg id="triangle6" xmlns="http://www.w3.org/2000/svg" width="52"
                                                height="51" viewBox="0 0 52 51" fill="none">
                                                <path
                                                    d="M0.630295 50.975L10.8215 0.810713L51.5483 45.7143L0.630295 50.975Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G4_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">G</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.G_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.G_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas6" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G5_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G5_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G6_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G6_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G7_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G7_result}}</span>
                                        </div>
                                        <div class="value-table group6">
                                            <p>{{get_mandara_detail.G8_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.G8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F1_content}}</p>
                                            <span class="value-group-7">{{get_mandara_detail.F1_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F2_content}}</p>
                                            <span class="value-group-7">{{get_mandara_detail.F2_result}}</span>
                                            <!-- <svg id="triangle7" xmlns="http://www.w3.org/2000/svg" width="62"
                                                height="42" viewBox="0 0 62 42" fill="none">
                                                <path d="M31 42L0.689144 0.750002L61.3109 0.750002L31 42Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F3_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.F3_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F4_content}}</p>
                                            <span class="value-group-6">{{get_mandara_detail.F4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">F</span>
                                            <p>SCORE</p>
                                            <span class="value-score">28</span>
                                            <p class="title-value-table-score">運</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas7" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>

                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F5_content}}</p>
                                            <span class="value-group-7">{{get_mandara_detail.F5_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F6_content}}</p>
                                            <span class="value-group-7">{{get_mandara_detail.F6_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F7_content}}</p>
                                            <span class="value-group-7">{{get_mandara_detail.F7_result}}</span>
                                        </div>
                                        <div class="value-table group7">
                                            <p>{{get_mandara_detail.F8_content}}</p>
                                            <span class="value-group-7">{{get_mandara_detail.F8_result}}</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E1_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E1_result}}</span>
                                            <!-- <svg id="triangle8" xmlns="http://www.w3.org/2000/svg" width="52"
                                                height="51" viewBox="0 0 52 51" fill="none">
                                                <path
                                                    d="M51.3689 50.9759L0.451211 45.713L41.1799 0.811178L51.3689 50.9759Z"
                                                    fill="#CB99C4" />
                                            </svg> -->
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E2_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E2_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E3_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E3_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E4_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E4_result}}</span>
                                        </div>
                                        <div class="value-table-score SCORE">
                                            <span class="text-table-score">E</span>
                                            <p>SCORE</p>
                                            <span class="value-score">{{get_mandara_detail.E_result}}</span>
                                            <p class="title-value-table-score">{{get_mandara_detail.E_keyword}}</p>
                                            <div class="wrapper-canvas">
                                                <canvas id="mycanvas8" class="mycanvas" width="148" height="148"
                                                    style="display: block; box-sizing: border-box; height: 148px; width: 148.9px;"></canvas>
                                            </div>

                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E5_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E5_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E6_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E6_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E7_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E7_result}}</span>
                                        </div>
                                        <div class="value-table group8">
                                            <p>{{get_mandara_detail.E8_content}}</p>
                                            <span class="value-group-8">{{get_mandara_detail.E8_result}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% else%}
                                <div class="text-center">
                                    <h2>404 NOT FOUND</h2>
                                </div>
                                {% endif %}

                            </div>
                            {% if get_mandara_detail is not None %}
                            <div class="body-bottom-right">
                                <!-- <div class="wrapper-title-body-bottom-right">
                                    <h2 class="title-body-bottom-right">キーワードの課題解決</h2>
                                </div> -->
                                <div class="content-body-right">
                                    <p class="title-content-body-left">目標期間は 1 年</p>
                                    <div class="item-select">
                                        <label class="label-date">2023 年 3 月●日</label>
                                        <p class="to">～</p>
                                        <label class="label-date">2024 年 3 月●日</label>
                                    </div>
                                </div>

                                <div class="table-body-bottom-right">
                                    <div class="wrapper-tab">
                                        <div class="tab tab1">Content</div>
                                        <div class="tab tab2">Score</div>
                                    </div>
                                    <div class="wrapper-item-table-body-bottom-right-tab-1">
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">A</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.A_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決z</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.A_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">B</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.B_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.B_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">C</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.C_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.C_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">D</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.D_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.D_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">E</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.E_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.E_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">F</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.F_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.F_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">G</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.G_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.G_dueto}}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="item-table-body-bottom-right">
                                            <div class="wrapper-content-table-body-right">
                                                <div class="order">H</div>
                                                <div class="title-order">キーワード</div>
                                                <div class="title-order-right">{{get_mandara_detail.H_keyword}}</div>
                                            </div>
                                            <div class="wrapper-content-table-bottom-body-right">
                                                <div class="content-table-body-right">
                                                    <p>課題解決</p>
                                                </div>
                                                <p class="desc-table-body-right">
                                                    {{get_mandara_detail.H_dueto}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-item-table-body-bottom-right-tab-2">
                                        <div class="item-table-body-bottom-right item-table-body-bottom-right-tab-2">
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas9" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.A_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.A_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas10" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.B_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.B_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas11" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.C_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.C_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas12" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.H_result}}</span>

                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.H_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab wrapper-mycanvas-tab-center">
                                                <p class="text-canvas-center">●●後の目標</p>
                                                <p class="value-vanvas-center"></p>
                                                <p class="text-canvas-center">ドライチ 8 球団</p>
                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas13" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.D_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.D_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas14" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.G_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.G_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas15" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.F_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.F_keyword}}</p>

                                            </div>
                                            <div class="wrapper-mycanvas-tab">
                                                <div class="wrapper-canvas-tab">
                                                    <canvas id="mycanvas16" width="100%" height="100%"
                                                        class="mycanvas-tab"></canvas>
                                                    <span
                                                        class="value-score-canvas">{{get_mandara_detail.E_result}}</span>
                                                </div>
                                                <p class="text-canvas">{{get_mandara_detail.E_keyword}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- <div class="masmas-mandara">
                            <div class="content-body-right mb-5">
                                <div class="content-body-right">
                                    <div class="item-select">
                                        <label class="label-date">2023 年 3 月</label>
                                        <p class="to">～</p>
                                        <label class="label-date">2024 年 3 月</label>
                                    </div>
                                </div>
                            </div>
                            <canvas id="barChart1" class="chart"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var arrayChartGroupA = [{{ get_mandara_detail.A1_result }}, { { get_mandara_detail.A2_result } }, { { get_mandara_detail.A3_result } }, { { get_mandara_detail.A8_result } }, { { get_mandara_detail.A4_result } }, { { get_mandara_detail.A7_result } }, { { get_mandara_detail.A6_result } }, { { get_mandara_detail.A5_result } }];
    var arrayChartGroupB = [{{ get_mandara_detail.B1_result }}, { { get_mandara_detail.B2_result } }, { { get_mandara_detail.B3_result } }, { { get_mandara_detail.B8_result } }, { { get_mandara_detail.B4_result } }, { { get_mandara_detail.B7_result } }, { { get_mandara_detail.B6_result } }, { { get_mandara_detail.B5_result } }];
    var arrayChartGroupC = [{{ get_mandara_detail.C1_result }}, { { get_mandara_detail.C2_result } }, { { get_mandara_detail.C3_result } }, { { get_mandara_detail.C8_result } }, { { get_mandara_detail.C4_result } }, { { get_mandara_detail.C7_result } }, { { get_mandara_detail.C6_result } }, { { get_mandara_detail.C5_result } }];
    var arrayChartGroupH = [{{ get_mandara_detail.H1_result }}, { { get_mandara_detail.H2_result } }, { { get_mandara_detail.H3_result } }, { { get_mandara_detail.H8_result } }, { { get_mandara_detail.H4_result } }, { { get_mandara_detail.H7_result } }, { { get_mandara_detail.H6_result } }, { { get_mandara_detail.H5_result } }];
    var arrayChartGroupD = [{{ get_mandara_detail.D1_result }}, { { get_mandara_detail.D2_result } }, { { get_mandara_detail.D3_result } }, { { get_mandara_detail.D8_result } }, { { get_mandara_detail.D4_result } }, { { get_mandara_detail.D7_result } }, { { get_mandara_detail.D6_result } }, { { get_mandara_detail.D5_result } }];
    var arrayChartGroupG = [{{ get_mandara_detail.G1_result }}, { { get_mandara_detail.G2_result } }, { { get_mandara_detail.G3_result } }, { { get_mandara_detail.G8_result } }, { { get_mandara_detail.G4_result } }, { { get_mandara_detail.G7_result } }, { { get_mandara_detail.G6_result } }, { { get_mandara_detail.G5_result } }];
    var arrayChartGroupF = [{{ get_mandara_detail.F1_result }}, { { get_mandara_detail.F2_result } }, { { get_mandara_detail.F3_result } }, { { get_mandara_detail.F8_result } }, { { get_mandara_detail.F4_result } }, { { get_mandara_detail.F7_result } }, { { get_mandara_detail.F6_result } }, { { get_mandara_detail.F5_result } }];
    var arrayChartGroupE = [{{ get_mandara_detail.E1_result }}, { { get_mandara_detail.E2_result } }, { { get_mandara_detail.E3_result } }, { { get_mandara_detail.E8_result } }, { { get_mandara_detail.E4_result } }, { { get_mandara_detail.E7_result } }, { { get_mandara_detail.E6_result } }, { { get_mandara_detail.E5_result } }];
</script>
<script src="{% static 'js/mandara-completion-detail.js' %}"></script>

{% endblock %}