{% extends "layout.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/mandara_sheet.css' %}">
{% endblock %}

{% block title_header %}
<p class="pb-0 mb-0 title-header">{{ title_header }}</p>
{% endblock title_header %}

{% block content %}
{% if not user.is_authenticated %}
<div class="container">
    <h2>
        <table>
            <tr>
                <td><a class="nav-link" href="{% url 'login' %}">Log in</a></td>
                <td><span>又は</span></td>
                <td><a class="nav-link" href="{% url 'register' %}">Sign up</a></td>
                <td><span>をしてください</span></td>
            </tr>
        </table>
    </h2>
</div>
{% else %}
<main class="bg-main">
    <section class="site-content pd-main">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-5-cols">
                    <div class="items">
                        <span class="btn-cus btn-yellow">個人</span>
                        <div class="items_content">
                            <div class="mb-4 w-100 wrapper-content-top">
                                <h3 class="mb-3"><a href="#">NEW <br /> MANDARA</a></h3>
                                <span class="date">新規作成</span>
                            </div>
                            <a class="btn-custom btn-white" href="{% url 'mandara_create' %}">CHECK</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5-cols">
                    <div class="items">
                        <span class="btn-cus btn-yellow">個人</span>
                        <div class="items_content">
                            <div class="mb-4 w-100 wrapper-content-top">
                                <h3 class="mb-3"><a href="#">REUSE <br /> MANDARA</a></h3>
                                <span class="date">引用作成</span>
                            </div>

                            <a class="btn-custom btn-white" href="{% url 'mandara_reuse' %}">CHECK</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5-cols">
                    <div class="items">
                        <span class="btn-cus btn-yellow">個人</span>
                        <div class="items_content">
                            <div class="mb-4 w-100 wrapper-content-top">
                                <h3 class="mb-3"><a href="#">COMPLETION <br /> MANDARA</a></h3>
                                <span class="date">達成履歴</span>
                            </div>
                            <a class="btn-custom btn-white" href="{% url 'mandara_completion' %}">CHECK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endif %}
{% endblock %}