{% extends 'layout.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.12.1/polyfill.min.js"
    integrity="sha512-uzOpZ74myvXTYZ+mXUsPhDF+/iL/n32GDxdryI2SJronkEyKC8FBFRLiBQ7l7U/PTYebDbgTtbqTa6/vGtU23A=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/mandara_personal.css' %}">

{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <section class="site-feedback pd-main">
        <div class="container-fluid">
            <div class="row">
                {% include "component/mandara_nav.html" %}
                <div class="col-md-10 row justify-content-between">
                    <div class="tab-content col-md-8">
                        <div class="tab-pane fade active show" id="tab1">
                            <div class="feedback-content">
                                <div class="title mb-5">
                                    <h2>MANDARA CHART</h2>
                                </div>
                                <div class="filter">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ form.user_id }}
                                        <button type="submit" name="submit">表示</button>
                                    </form>
                                </div>
                                {% if mandara %}
                                <div class="">

                                    <div class="body-bottom-left" id="value-body-bottom-left">
                                    {% load custom_filters %}
                                    {% with 'F C G B' as list %}
                                    {% for key in list.split %}
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="canvas-personal">
                                            <canvas class="canvas" id="mycanvas{{ key }}"
                                                style="width: 100%; height: 100%;"></canvas>
                                        </div>
                                        {% with content=key|add:'1_content' %}
                                        {% with result=key|add:'1_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'2_content' %}
                                        {% with result=key|add:'2_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'3_content' %}
                                        {% with result=key|add:'3_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'8_content' %}
                                        {% with result=key|add:'8_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with result=key|add:'_result' %}
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% with content=key|add:'4_content' %}
                                        {% with result=key|add:'4_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'7_content' %}
                                        {% with result=key|add:'7_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'6_content' %}
                                        {% with result=key|add:'6_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'5_content' %}
                                        {% with result=key|add:'5_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                    </div>
                                    {% endfor %}
                                    {% endwith %}
                                    <div class="wrapper-item-body-bottom-left">
                                        {% with 'F C G B' as list %}
                                        {% for key in list.split %}
                                            {% with keyword=key|add:'_keyword' %}
                                            {% with result=key|add:'_result' %}
                                            <div class="value-table-score SCORE-text">
                                                <div class="title-main-score">
                                                    <p>{{ mandara|get_custom_name:keyword }}</p>
                                                </div>
                                                <span class="value-score">{{ mandara|get_custom_name:result }}</span>
                                            </div>
                                            {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                        {% endwith %}
                                        <div class="value-table-score SCORE-MAIN">
                                            <p class="title-main-score title-main-score-center">1年後の目標</p>
                                            <span class="value-score value-score-center">{{ mandara.total_result }}</span>
                                            <p class="title-main-score-bottom">1年後の目標</p>
                                        </div>
                                        {% with 'D E A H' as list %}
                                        {% for key in list.split %}
                                            {% with keyword=key|add:'_keyword' %}
                                            {% with result=key|add:'_result' %}
                                            <div class="value-table-score SCORE-text">
                                                <div class="title-main-score">
                                                    <p>{{ mandara|get_custom_name:keyword }}</p>
                                                </div>
                                                <span class="value-score">{{ mandara|get_custom_name:result }}</span>
                                            </div>
                                            {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                        {% endwith %}
                                    </div>

                                    {% with 'D E A H' as list %}
                                    {% for key in list.split %}
                                    <div class="wrapper-item-body-bottom-left">
                                        <div class="canvas-personal">
                                            <canvas class="canvas" id="mycanvas{{ key }}"
                                                style="width: 100%; height: 100%;"></canvas>
                                        </div>
                                        {% with content=key|add:'1_content' %}
                                        {% with result=key|add:'1_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'2_content' %}
                                        {% with result=key|add:'2_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'3_content' %}
                                        {% with result=key|add:'3_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'8_content' %}
                                        {% with result=key|add:'8_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with result=key|add:'_result' %}
                                        <div class="value-table-score SCORE">
                                            <p>SCORE</p>
                                            <span class="value-score">{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% with content=key|add:'4_content' %}
                                        {% with result=key|add:'4_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'7_content' %}
                                        {% with result=key|add:'7_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'6_content' %}
                                        {% with result=key|add:'6_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% with content=key|add:'5_content' %}
                                        {% with result=key|add:'5_result' %}
                                        <div class="value-table">
                                            <p>{{ mandara|get_custom_name:content }}</p>
                                            <span>{{ mandara|get_custom_name:result }}</span>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                    </div>
                                    {% endfor %}
                                    {% endwith %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>
    var arrayChartGroupA = [{{mandara.A2_result}}, {{mandara.A3_result}}, {{mandara.A4_result}}, {{mandara.A5_result}}, {{mandara.A6_result}}, {{mandara.A7_result}}, {{mandara.A8_result}}, {{mandara.A1_result}}];
    var arrayChartGroupB = [{{mandara.B2_result}}, {{mandara.B3_result}}, {{mandara.B4_result}}, {{mandara.B5_result}}, {{mandara.B6_result}}, {{mandara.B7_result}}, {{mandara.B8_result}}, {{mandara.B1_result}}];
    var arrayChartGroupC = [{{mandara.C2_result}}, {{mandara.C3_result}}, {{mandara.C4_result}}, {{mandara.C5_result}}, {{mandara.C6_result}}, {{mandara.C7_result}}, {{mandara.C8_result}}, {{mandara.C1_result}}];
    var arrayChartGroupH = [{{mandara.H2_result}}, {{mandara.H3_result}}, {{mandara.H4_result}}, {{mandara.H5_result}}, {{mandara.H6_result}}, {{mandara.H7_result}}, {{mandara.H8_result}}, {{mandara.H1_result}}];
    var arrayChartGroupD = [{{mandara.D2_result}}, {{mandara.D3_result}}, {{mandara.D4_result}}, {{mandara.D5_result}}, {{mandara.D6_result}}, {{mandara.D7_result}}, {{mandara.D8_result}}, {{mandara.D1_result}}];
    var arrayChartGroupG = [{{mandara.G2_result}}, {{mandara.G3_result}}, {{mandara.G4_result}}, {{mandara.G5_result}}, {{mandara.G6_result}}, {{mandara.G7_result}}, {{mandara.G8_result}}, {{mandara.G1_result}}];
    var arrayChartGroupF = [{{mandara.F2_result}}, {{mandara.F3_result}}, {{mandara.F4_result}}, {{mandara.F5_result}}, {{mandara.F6_result}}, {{mandara.F7_result}}, {{mandara.F8_result}}, {{mandara.F1_result}}];
    var arrayChartGroupE = [{{mandara.E2_result}}, {{mandara.E3_result}}, {{mandara.E4_result}}, {{mandara.E5_result}}, {{mandara.E6_result}}, {{mandara.E7_result}}, {{mandara.E8_result}}, {{mandara.E1_result}}];

    function setCanvas(id, values) {
        if (document.getElementById(id)) {
            new Chart(document.getElementById(id), {
                type: 'radar',
                data: {
                    labels: ['', '', '', '', '', '', '', ''],
                    datasets: [{
                        label: '',
                        data: values,
                        fill: true,
                        borderColor: "#e9e2a0",
                        pointBackgroundColor: '#e2db9d',
                    }]
                },
                options: {
                    tooltips: false,
                    legend: {
                        display: false
                    },
                    scale: {
                        gridLines: {
                            circular: false,
                            color: "gray"
                        },
                        ticks: {
                            display: false
                        }
                    },
                },

            });            
        }
    }

    setCanvas("mycanvasA", arrayChartGroupA);
    setCanvas("mycanvasB", arrayChartGroupB);
    setCanvas("mycanvasC", arrayChartGroupC);
    setCanvas("mycanvasH", arrayChartGroupH);
    setCanvas("mycanvasD", arrayChartGroupD);
    setCanvas("mycanvasE", arrayChartGroupE);
    setCanvas("mycanvasF", arrayChartGroupF);
    setCanvas("mycanvasG", arrayChartGroupG);
</script>
{% endblock %}