{% extends 'layout.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/mandara_masmas_chart.css' %}">

{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="bg-main bg-gray">
    <section class="site-feedback pd-main">
        <div class="container-fluid">
            <div class="row">
                {% include "component/mandara_nav.html" %}
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="">
                            <div class="tab-pane fade active show" id="tab1">
                                <div class="feedback-content">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="title">
                                                <h2>MASMAS MANDARA CHART</h2>
                                            </div>
                                            <div class="filter">
                                                <form action="" method="post" enctype="multipart/form-data">
                                                    <div class="item-select d-flex align-items-center gap-2"
                                                        style="display: flex;">
                                                        <select name="start" class="select border-0">
                                                            <option value="" selected="">----</option>
                                                            <option value="2023-01">2023年1月</option>
                                                            <option value="2023-02">2023年2月</option>
                                                            <option value="2023-03">2023年3月</option>
                                                            <option value="2023-04">2023年4月</option>
                                                            <option value="2023-05">2023年5月</option>
                                                            <option value="2023-06">2023年6月</option>
                                                            <option value="2023-07">2023年7月</option>
                                                            <option value="2023-08">2023年8月</option>
                                                            <option value="2023-09">2023年9月</option>
                                                            <option value="2023-10">2023年10月</option>
                                                            <option value="2023-11">2023年11月</option>
                                                            <option value="2023-12">2023年12月</option>
                                                        </select>
                                                        <p class="to m-0 px-3">～</p>
                                                        <select name="end" class="select border-0 mr-3">
                                                            <option value="" selected="">----</option>
                                                            <option value="2023-01">2023年1月</option>
                                                            <option value="2023-02">2023年2月</option>
                                                            <option value="2023-03">2023年3月</option>
                                                            <option value="2023-04">2023年4月</option>
                                                            <option value="2023-05">2023年5月</option>
                                                            <option value="2023-06">2023年6月</option>
                                                            <option value="2023-07">2023年7月</option>
                                                            <option value="2023-08">2023年8月</option>
                                                            <option value="2023-09">2023年9月</option>
                                                            <option value="2023-10">2023年10月</option>
                                                            <option value="2023-11">2023年11月</option>
                                                            <option value="2023-12">2023年12月</option>
                                                        </select>
                                                        <select name="evaluation_unit" class="form border-0" required=""
                                                            id="id_evaluation_unit">
                                                            <option value="" selected="">----</option>

                                                            <option value="1">Test_9th</option>

                                                        </select>
                                                        <input type="hidden" name="csrfmiddlewaretoken"
                                                            value="PqPJA4r51NOoVIFkeutKexSc4kBCNORc3jFCxxJvLPo2elpkjJN6Pd7npD9eUqp3">
                                                        <button class="mx-3" type="submit" name="submit">表示</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="items">
                                                <span class="btn-cus btn-red">集計</span>
                                                <div class="items_content">
                                                    <h3><a href="#">MANDARA</a></h3>
                                                    <span class="date">2023/3/7</span>
                                                    <a class="btn-custom btn-white" href="#">CHECK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <canvas id="barChart" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    Chart.register(ChartDataLabels);

    function createBarChart() {
        const barChart1 = document.getElementById('barChart').getContext('2d');
        return new Chart(barChart1, {
            type: 'bar',
            data: {
                labels: ["2022/3", "2022/4", "2022/5", "2022/6", "2022/7", "2022/8", "2022/9"],
                datasets: [{
                    label: '',
                    data: [48, 53, 66, 78, 73, 70, 85],
                    backgroundColor: '#C8C9CA',
                }]
            },
            options: {
                plugins: {

                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        offset: -5,
                        color: "#2CAEB5",
                        font: { size: 22, weight: 700 },
                        formatter: function (value, context) {
                            return value;
                        },

                    },
                    legend: {
                        display: false,
                    },
                },
                scales: {

                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            color: '#000000',

                        }
                    },
                    y: {
                        max: 100,
                        grid: {
                            display: false
                        },
                        ticks: {
                            color: '#000000',

                        }
                    },
                }
            },
        });
    }

    createBarChart()
</script>
{% endblock %}