.feedback-content .filter form select {
  
}

.form {
    width: 150px;
      min-width: 150px;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
}

.content-chart button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    background: #DCDDDD;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}
